In [1]:
import numpy
import pandas

ny_lotto = pandas.read_csv("C:/Users/denni/Downloads/Lottery_NY_Lotto_Winning_Numbers__Beginning_2001.csv")

Dates = ny_lotto["Draw Date"].str.split(pat = "/", expand = True)
index_years = list(Dates[2])
index_months = list(Dates[0])
index_days = list(Dates[1])

hier_index = list(zip(index_years, index_months, index_days))
hier_index = pandas.MultiIndex.from_tuples(hier_index)
hier_index

MultiIndex([('2020', '09', '26'),
            ('2020', '09', '30'),
            ('2020', '10', '03'),
            ('2020', '10', '07'),
            ('2020', '10', '10'),
            ('2020', '10', '14'),
            ('2020', '10', '17'),
            ('2020', '10', '21'),
            ('2020', '10', '24'),
            ('2020', '10', '28'),
            ...
            ('2025', '09', '10'),
            ('2025', '09', '13'),
            ('2025', '09', '17'),
            ('2025', '09', '20'),
            ('2025', '09', '24'),
            ('2025', '09', '27'),
            ('2025', '10', '01'),
            ('2025', '10', '04'),
            ('2025', '10', '08'),
            ('2025', '10', '11')],
           length=2513)

In [2]:
winNumber = ny_lotto["Winning Numbers"].str.split(expand = True)

winNumbers_fullDF = pandas.DataFrame(winNumber.to_numpy(), 
                                     hier_index, 
                                     ["1st Draw", "2nd Draw", "3rd Draw", "4th Draw", "5th Draw", "6th Draw"])
winNumbers_fullDF["Bonus #"] = list(ny_lotto["Bonus #"])
winNumbers_fullDF

           1st Draw 2nd Draw 3rd Draw 4th Draw 5th Draw 6th Draw  Bonus #
2020 09 26       14       19       20       23       55       57       22
        30       08       13       25       38       41       48       42
     10 03       19       20       24       42       44       56       37
        07       11       13       19       37       50       55        8
        10       08       11       15       32       47       58        6
...             ...      ...      ...      ...      ...      ...      ...
2025 09 27       02       09       20       47       49       54       50
     10 01       05       21       35       45       51       52       20
        04       06       13       15       47       51       59        7
        08       24       26       42       52       54       58       48
        11       03       10       28       32       37       53       19

[2513 rows x 7 columns]

In [3]:
winNumbers_fullDF.index.names = ["Year", "Month", "Day"]
winNumbers_fullDF

               1st Draw 2nd Draw 3rd Draw 4th Draw 5th Draw 6th Draw  Bonus #
Year Month Day
2020 09    26        14       19       20       23       55       57       22
           30        08       13       25       38       41       48       42
     10    03        19       20       24       42       44       56       37
           07        11       13       19       37       50       55        8
           10        08       11       15       32       47       58        6
...                 ...      ...      ...      ...      ...      ...      ...
2025 09    27        02       09       20       47       49       54       50
     10    01        05       21       35       45       51       52       20
           04        06       13       15       47       51       59        7
           08        24       26       42       52       54       58       48
           11        03       10       28       32       37       53       19

[2513 rows x 7 columns]